---
layout: default
title: "Projects: Powered by open data"
description: Most of these are works of passion. The more recent ones are contributions to the ever-growing open government movement in Chicago. 
redirect_from: 
  - /maps/index.html
---

<div class='content-grid'>
  {% for post in site.categories['project'] %}
    <div class='row'>
      <div class='col-sm-5'>
        <a href='{{post.url}}'>
          <img alt="{{post.title}}" class="img-thumbnail" src="{{post.image}}" />
        </a>
      </div>
      <div class='col-sm-7'>
        <h4>
          <a href="{{post.url}}">{{post.title}}</a>
          <small>
            <br /><a href="{{post.link}}" target="_blank">{{post.link}}</a>
          </small>
        </h4>
        <p>{{post.description | markdownify}}</p>

        {% if post.press %}
          <strong>Press: </strong>
          {% for p in post.press %}
            <br /><a href="{{p.link}}">{{p.publication}}</a>
          {% endfor %}
        {% endif %}
      </div>
    </div>
    <hr />
  {% endfor %}
</div>