---
layout: default
---

  <div class='row'>
    <div class='col-sm-12'>
      <p>
        <strong>Hi, I'm Derek Eder.</strong>
        I'm an entrepreneur, developer, civic technology leader, climate advocate and public servant. During the day, I run <a href='https://datamade.us'>DataMade</a>, a civic technology company. We build open source technology using data to empower journalists, researchers, governments and advocacy organizations.
      </p>
      <p>
        I am Co-Founder and President Emeritus of <a href='https://chihacknight.org'>Chi Hack Night</a>, Chicago's weekly event to build, share, and learn about civic technology. I also serve on the Board of Trustees for the <a href='https://www.oak-park.us/'>Village of Oak Park</a>, where I live with my family. <a href='/about'>Read my full bio &raquo;</a>
      </p>
      <hr />
    </div>
  </div>

  <div class='row'>
    <div class='col-sm-12'>
      <h2>
        Blog
        <small>
          <a href='/blog'>more &raquo;</a>
        </small>
      </h2>
    </div>
  </div>

  {% for post in site.categories['blog'] %}
    {% if post.featured %}
      <div class='row'>
        <div class='col-sm-4'>
          <a href='{{ post.url }}'><img src='{{ post.image }}' alt='{{ post.title }}' class='img-responsive img-thumbnail' /></a>
        </div>
        <div class='col-sm-8'>
          <h4>
            <a href="{{ post.url }}">{{ post.title }}</a>
          </h4>
          <p>
            <small>Published on {{ post.date |  date: "%b %-d, %Y" }}<br /></small>
            {{ post.description }}
          </p>
        </div>
      </div><br /><br />
    {% endif %}
  {% endfor %}

  <div class='row'>
    <div class='col-sm-12'>
      <hr />
      <h2>
        Electrifying Our Old Oak Park Home
        <small>
          <a href='/electrification'>more &raquo;</a>
        </small>
      </h2>
    </div>
  </div>
  <div class='row'>
    <div class='col-sm-4'>
      <a href='/electrification/'><img src='/images/blog/heat-pumps/heat-pump-combo.jpg' alt='Electrifying Our Old Oak Park Home' class='img-responsive img-thumbnail' /></a>
    </div>
    <div class='col-sm-8'>
      <p>
        In 2022 and 2023, I documented our process of fully electrifying our 100-year-old home in Oak Park, IL. We installed solar panels on our roof (giving us a source of free renewable electricity), switched out our gas furnace with electric heat pumps, and replaced all gas appliances with electric equivalents.
      </p>
      <p><a href='/electrification/'>Read all 5 parts &raquo;</a></p>
    </div>
  </div>

  <div class='row'>
    <div class='col-sm-12'>
      <hr />
      <h2>
        Talks
        <small>
          Public appearances and presentations
          |
          <a href='/talks'>more &raquo;</a>
        </small>
      </h2>
      <br />
    </div>
  </div>

  <div class='row'>
    {% for post in site.categories['talk'] %}
      {% if post.featured %}
        <div class='col-sm-6'>
          <a href='{{post.link}}'>
            <img class='img-thumbnail' src='{{post.image}}' title='{{post.title}}'>
          </a>
          <h4>
            <a href='{{post.link}}'>{{post.title}}</a>
          </h4>
          <p>{{post.description | markdownify}}</p><br />
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <div class='row'>
    <div class='col-sm-12'>
      <hr>
      <h2>
        Projects
        <small>
          Civic tech projects I've built or collaborated on
          |
          <a href='/projects'>more &raquo;</a>
        </small>
      </h2>
    </div>
  </div>
  <br />

  <div class='content-grid'>
    {% for post in site.categories['project'] %}
      {% if post.featured %}
      <div class='row'>
        <div class='col-sm-5'>
          <a href='{{post.link}}'>
            <img alt="{{post.title}}" class="img-thumbnail" src="{{post.image}}" />
          </a>
        </div>
        <div class='col-sm-7'>
          <h4>
            <a href="{{post.link}}">{{post.title}}</a>
            <small>
              <br /><a href="{{post.link}}" target="_blank">{{post.link}}</a>
            </small>
          </h4>
          <p>{{post.description | markdownify}}</p>
        </div>
      </div>
      <hr />
      {% endif %}
    {% endfor %}
  </div>