---
layout: default
---

  <div class='row'>
    <div class='col-sm-12'>
      <p>
        <strong>Hi, I'm Derek Eder.</strong>
        I'm an entrepreneur, developer and one of the leaders of the civic technology community in Chicago. During the day, I run <a href='https://datamade.us'>DataMade</a>, a civic technology company. We build open source technology using data to empower journalists, researchers, governments and advocacy organizations.
      </p>
      <p>
        I am Co-Founder and Board President of <a href='https://chihacknight.org'>Chi Hack Night</a>, Chicago's weekly event to build, share, and learn about civic tech. <a href='/about'>Read my full bio &raquo;</a>
      </p>
      <hr>
      <h2>
        Talks
        <small>
          Public appearances and presentations
          |
          <a href='/talks'>more &raquo;</a>
        </small>
      </h2>
    </div>
  </div>
  <br />
  <div class='row'>
    <div class='col-sm-6'>
      <a href='https://chihacknight.org/events/2021/04/13/anti-racist-in-civic-tech.html'>
        <img class='img-thumbnail' src='/images/talks/chn-anti-racism.jpg' title='Intro to being anti-racist in civic tech'>
        <h4>
          Intro to being anti-racist in civic tech
        </h4>
      </a>
      <p>
        What does it mean to be anti-racist? What is white supremacy culture and how does it show up? Derek is joined by fellow Chi Hack Night Board Members Ryan Spencer and Samantha Evans to <a href='https://chihacknight.org/blog/2021/03/25/2021-intro-to-being-anti-racist-in-civic-tech.html'>share our answers to these questions</a> so that we can all work to make our communities more equitable and just.
      </p>
    </div>
    <div class='col-sm-6'>
      <a href='https://chihacknight.org/events/2018/08/21/derek-eder.html'>
        <img class='img-thumbnail' src='/images/talks/chn-opportunity-of-civic-tech.jpg' title='The opportunity of civic tech'>
        <h4>
          The opportunity of civic tech
        </h4>
      </a>
      <p>
        It is said that Chicago has one of the strongest and most vibrant civic technology communities in the world, but what is civic tech? What are the opportunities in the civic tech space and what has changed over the past few years that make these opportunities possible? As Founder of Chi Hack Night and DataMade, Derek answers these questions.
      </p>
    </div>
  </div>
  <br /><br />
  <div class='row'>
    <div class='col-sm-6'>
      <a href='https://chicagotonight.wttw.com/2017/09/18/how-chicago-hacktivist-derek-eder-uses-public-data-good'>
        <img class='img-thumbnail' src='/images/talks/chicago-tonight-sept-2017.jpg' title='How Chicago ‘Hacktivist’ Derek Eder Uses Public Data for Good'>
        <h4>
          How Chicago ‘Hacktivist’ Derek Eder Uses Public Data for Good
        </h4>
      </a>
      <p>
        WTTW Chicago Tonight interview with Derek Eder and Phil Ponce on Chi Hack Night, DataMade, and the work done by the Chicago civic technology community in the last 5 years. Discussed are some more recent projects including <a href='http://chicagosmilliondollarblocks.com/' target='_blank'>Chicagos Million Dollar Blocks</a> and <a href='https://justicedivided.com/' target='_blank'>Justice Divided</a>.
      </p>
    </div>
    <div class='col-sm-6'>
      <a href='https://www.youtube.com/watch?v=ZR5JMxp-ejw'>
        <img class='img-thumbnail' src='/images/talks/large-lots.jpg' title='When Technology and Policy Work Together: Large Lots in Chicago'>
        <h4>
          When Technology and Policy Work Together: Large Lots in Chicago
        </h4>
      </a>
      <p>
        Demond Drummer and Derek Eder share the story of how community organizers, technologists, and the City of Chicago collaborated to roll out a new program to give local residents ownership of vacant land in their neighborhood and incentivize neighborhood-level investment.
      </p>
    </div>
  </div>
  <div class='row'>
    <div class='col-sm-12'>
      <hr>
      <h2>
        Projects
        <small>
          Civic tech projects I've built or collaborated on
          |
          <a href='/projects'>more &raquo;</a>
        </small>
      </h2>
    </div>
  </div>
  <br />

  <div class='content-grid'>
    {% for post in site.categories['project'] %}
      {% if post.featured %}
      <div class='row'>
        <div class='col-sm-5'>
          <a href='{{post.url}}'>
            <img alt="{{post.title}}" class="img-thumbnail" src="{{post.image}}" />
          </a>
        </div>
        <div class='col-sm-7'>
          <h4>
            <a href="{{post.url}}">{{post.title}}</a>
            <small>
              <br /><a href="{{post.link}}" target="_blank">{{post.link}}</a>
            </small>
          </h4>
          <p>{{post.description | markdownify}}</p>
        </div>
      </div>
      <hr />
      {% endif %}
    {% endfor %}
  </div>