%h2
  About Derek
%p
  Derek has been building websites in Chicago since 2005. He is the owner of <a href='http://datamade.us'>DataMade</a>, an open government and open data web consulting company, co-founder of <a href='http://opencityapps.org'>Open City</a>, a collective that makes civic apps with open data, and organizer for the <a href='http://opengovhacknight.org'>Open Gov Hack Night</a>, a weekly event for building civic technology with open data. 

%p
  He has collaborated on over a dozen open source civic apps including <a href='http://secondcityzoning.org'>2nd City Zoning</a>, <a href='http://chicagolobbyists.org'>Chicago Lobbyists</a>, <a href='http://lookatcook.com'>Look at Cook</a>, <a href='http://chicagocouncilmatic.org'>Chicago Councilmatic</a> and <a href='http://datamade.us/civic-apps/dedupe'>Dedupe</a>.

%p
  %a{:href => "mailto:derek.eder+de@gmail.com"} Email
  or
  %a{:href => "http://twitter.com/derekeder"} tweet
  at me.