%h2
  About Derek
%p
  Derek has been building websites in Chicago since 2005. He is the owner of <a href='http://datamade.us'>DataMade</a>, an open government and open data web consulting company, co-founder of <a href='http://opencityapps.org'>Open City</a>, a collective that makes civic apps with open data, and organizer for the <a href='http://opengovhacknight.org'>Open Gov Hack Night</a>, Chicago's weekly event to build, share, and learn about civic tech. 

%p
  He has collaborated on over a dozen open source civic apps including <a href='http://secondcityzoning.org'>2nd City Zoning</a>, <a href='http://chicagolobbyists.org'>Chicago Lobbyists</a>, <a href='http://lookatcook.com'>Look at Cook</a>, <a href='http://chicagocouncilmatic.org'>Chicago Councilmatic</a> and <a href='http://datamade.us/civic-apps/dedupe'>Dedupe</a>.

%h3#the-long-version The long version

<p>Or, how I got started in <a href='http://en.wikipedia.org/wiki/Civic_technologist'>civic tech</a>.</p>

<p><strong>In the beginning, there was open data</strong></p>

<p>In August 2011, I was working for a dev shop in Chicago called <a href="http://www.webitects.com/">Webitects</a> when the City&#39;s recently elected mayor (Rahm Emanuel) decided to start releasing some interesting data on the city’s <a href="https://data.cityofchicago.org/">Data Portal</a>. At the time, I already had an interest in government and technology and had volunteered my tech skills to the Obama campaign in 2008, but this data gave me a way to engage with my local government and community that was completely new.</p>

<p><a href="https://twitter.com/PaulBaker">Paul Baker</a>, my boss at Webitects, decided to put a group together — <a href="https://twitter.com/chadwpry">Chad Pry</a>, <a href="https://twitter.com/rougeux">Nick Rougeux</a>, <a href="https://twitter.com/ryanbriones">Ryan Briones</a> and me — to take one of these newly released datasets on <a href="https://data.cityofchicago.org/Ethics/Lobbyist-Data-Lobbyist-Registry-2011/tpf5-fgtw">lobbyist disclosures</a> to create our first &quot;civic app&quot; called <a href="http://www.chicagolobbyists.org/">Chicago Lobbyists</a>. </p>

<p>The app, which I like to describe as a &quot;Facebook for lobbyists,&quot; allows you to see who the top paid lobbyists are, who&#39;s hiring them, and who in government they are lobbying. Through this app, this raw, open data was made accessible to average citizens (like ourselves) in a way that was easy to understand and delightful to interact with. The response from <a href="http://www.cityofchicago.org/city/en/depts/mayor/press_room/press_releases/2011/august_2011/mayor_emanuel_announcesnewlobbyistdatathatprovidesclearconnectio.html">the City</a>, <a href="http://chicagoist.com/2011/12/07/new_web_project_simplifies_citys_op.php#photo-1">local press</a> and <a href="http://gov20.govfresh.com/can-the-internet-help-disrupt-the-power-of-chicago-lobbyists-through-transparency/">tech community</a> was immediate and positive.</p>

<p><strong>Co-founding Open City</strong></p>
<p>At this point, I was hooked on making civic apps. I continued collaborating with Paul, Nick, and Chad to build new apps with other available datasets like <a href="http://chicagobuildings.org/">ChicagoBuildings.org</a>, which tracks vacant and abandoned buildings in Chicago, and <a href="http://lookatcook.com/">Look at Cook</a>, a visualization for exploring Cook County’s budget over time.</p>

<p>Through the <a href="http://www.meetup.com/opengovchicago/">OpenGov Chicago(-land) Meetup</a> run by <a href="https://twitter.com/danxoneil">Dan X. O’Neil</a> and <a href="https://twitter.com/JoeGermuska">Joe Germuska</a>, I met and collaborated with <a href="https://twitter.com/jpvelez">Juan-Pablo Velez</a> and Forest Gregg to create <a href="http://clearstreets.org/">ClearStreets</a>, an app to track where snow plows go during a snowstorm. This got us our first big exposure in the <a href="http://articles.chicagotribune.com/2012-01-21/news/ct-talk-snow-tracker-0121-20120121_1_plow-web-page-internet">Chicago Tribune</a>.</p>

<p>I eventually found myself among a core group of volunteer developers, designers and policy wonks who all shared a common goal: to create apps with open data to improve transparency and understanding of our government. We knew we had a great thing going, so in January 2012, we decided to give it a name and call ourselves <a href="http://opencityapps.org/">Open City</a>.</p>

<p><strong>The Open Gov Hack Night</strong></p>
<p>In order to better facilitate collaboration and get work done outside of our regular 9-to-5 jobs, we decided to start meeting regularly every week. Our <a href="http://opengovhacknight.org/events/2012/03/22/the-first-hack-night.html">first meeting</a> consisted of Juan-Pablo Velez, <a href="https://twitter.com/srobbin">Scott Robbin</a>, <a href="https://twitter.com/tomkompare">Tom Kompare</a> and myself. </p>

<p>We dubbed this event the <a href="http://opengovhacknight.org/">Open Gov Hack Night</a>, made it open for anyone to attend and <a href="https://groups.google.com/forum/#!searchin/opengovchicago/webitects$20derek$20hack/opengovchicago/DFk0EnIOg5g/_faxY1ik8uAJ">publicized it</a> on the <a href="https://groups.google.com/forum/#!forum/opengovchicago">OpenGov Chicago Google Group</a>. The idea of a friendly place to talk about civic tech and get work done was apparently very appealing to a lot of people. </p>

<p>Now, going on for its third year, the Hack Night draws 60-70+ developers, designers, researchers, journalists, policy wonks and curious citizens who all want to build or learn about open data and civic tech.</p>

<p><strong>Starting DataMade, a civic technology company</strong></p>
<p>In the Summer of 2012, I was approached by Dan X. O’Neil, the new Executive Director of the <a href="http://www.smartchicagocollaborative.org/">Smart Chicago Collaborative</a>, to work on some projects (<a href="http://weconnectchicago.org/">Connect Chicago</a> and <a href="http://chicagoearlylearning.org/">Chicago Early Learning</a>) as a consultant. I had already decided to go part-time at Webitects to devote more time to Open City, and it seemed like it was finally time to strike out on my own.</p>

<p>I formed my own LLC, called it DataMade (my wife Aya’s idea) and got to work. At the same time, my collaborations with Forest Gregg continued on projects like <a href="http://cpstiers.opencityapps.org/">CPS Tiers</a>, <a href="https://github.com/datamade/dedupe">Dedupe</a> and <a href="http://chicagocouncilmatic.org/">Councilmatic</a>. In January 2013, Forest joined DataMade as a partner.</p>

<p>Since then, DataMade has grown to five people, including <a href="https://twitter.com/evanzanten">Eric van Zanten</a>, <a href="https://twitter.com/cthydng">Cathy Deng</a> and <a href="https://twitter.com/mccastelle">Michael Castelle</a>. Our clients include many notable universities, nonprofits and municipalities, including <a href="http://www.uchicago.edu/">University of Chicago</a>, <a href="http://www.suntimes.com/">Chicago Sun-Times</a>, <a href="http://ap.org/">The Associated Press</a>, <a href="http://www.lisc-chicago.org">LISC-Chicago</a>, The City of Gary and Macoupin County, IL.</p>

<p><strong>What’s next?</strong></p>
<p>Since my first civic app back in 2011, I have steadily become a leader in the open government movement in Chicago. Our applications, approaches and ideas have spread to cultural institutions like the Chicago Architecture Foundation via their <a href="http://bigdata.architecture.org/">City of Big Data Exhibit</a>, to academia via programs like the <a href="http://dssg.io/">The Eric &amp; Wendy Schmidt Data Science for Social Good Summer Fellowship</a>, to the <a href="http://www.socrata.com/case-study/chicago-growing-open-data-economy/">Chicago startup scene</a>, and even back to the City of Chicago and their ambitious <a href="http://techplan.cityofchicago.org/initiatives-by-strategy/effective-government/initiative-14/">Tech Plan</a>.</p>

<p>Some people worry about the sustainability of the open government movement. How do we keep it going? Will it last? </p>

<p>For me, the plan is to continue shipping awesome things, to continue growing DataMade as a company, to continue serving journalists, academics and governments in working with technology and data, and to take on new projects and clients that have a positive impact in the world.</p>

<p>It's going pretty well so far.</p>

<p class='muted'><em>Last updated on Oct 15, 2014</em></p>