- content_for :javascripts do
  = include_javascript :highcharts
  = include_javascript :chart_helper
  
  :javascript
    $(function () {

      var nameHash = ["Car, Drive Alone", "Public Transit", "Carpool (2+ people)", "Walking", "Worked at Home", "Taxi", "Biking"];

      var colorHash = ["#A6761D", "#7570B3", "#D95F02", "#66A61E", "#E7298A", "#E6AB02", "#1B9E77"];
      
      var seriesData = [{
          color: colorHash[0],
          data: [53.4,52.6,51.2,50.5,50.8,50.2,49.9],
          name: nameHash[0],
          lineWidth: 3
        }, {
          color: colorHash[1],
          data: [25.3,25.4,26.7,26.7,26.5,26.5,27.6],
          name: nameHash[1],
          lineWidth: 3
        }, {
          color: colorHash[2],
          data: [10.7,10.7,10.4,10.3,9.9,9.4,9],
          name: nameHash[2],
          lineWidth: 3
        }, {
          color: colorHash[3],
          data: [5.5,5.4,5.4,5.8,5.9,6.5,6.3],
          name: nameHash[3],
        }, {
          color: colorHash[4],
          data: [2.9,3.6,3.7,4.2,4.2,4.7,4.3],
          name: nameHash[4],
          lineWidth: 3
        }, {
          color: colorHash[5],
          data: [1.6,1.5,1.4,1.4,1.5,1.5,1.5],
          name: nameHash[5],
          lineWidth: 3
        }, {
          color: colorHash[6],
          data: [0.7,0.9,1.1,1,1.1,1.3,1.4],
          name: nameHash[6],
          lineWidth: 3
        }
      ]

      ChartHelper.create("chart_Commutes", "column", seriesData, Date.UTC(2005, 0, 1), "year", null);

      var pieData = [
            {name: nameHash[0], y: 49.9, color: colorHash[0]},
            {name: nameHash[1], y: 27.6, color: colorHash[1]},
            {name: nameHash[2], y: 9, color: colorHash[2]},
            {name: nameHash[3], y: 6.3, color: colorHash[3]},
            {name: nameHash[4], y: 4.3, color: colorHash[4]},
            {name: nameHash[5], y: 1.5, color: colorHash[5]},
            {name: nameHash[6], y: 1.4, color: colorHash[6]}
        ];
      ChartHelper.createPie("pie_Commutes", pieData, "Percent of workforce commutes");
    });

%h2
  How are people getting to work in Chicago?
%p
  The Census Bureau collects data on how Chicagoans get to work via the 
  = succeed '.' do
    %a{:href => 'http://www.census.gov/acs/www/'} American Community Survey
  
  The charts below show commuting patterns for Chicago, from the 
  = succeed '.' do
    %a{:href => 'http://factfinder2.census.gov/faces/tableservices/jsf/pages/productview.xhtml?pid=ACS_11_1YR_S0801&prodType=table'} S0801 table: Commuting characteristics by sex

  %p
    Thanks to Steve Vance at 
    %a{:href => "http://gridchicago.com/2012/census-releases-commuting-to-work-data-for-2011-walking-biking-transit-continue-to-rise/"} Grid Chicago
    for reporting on the release of the 2011 numbers.

.row-fluid
  .span12.well
    %h3 Chicago Commute Modes in 2011
    %p Breakdown of Chicago's workforce commutes in 2011 by mode. Driving (alone, carpool or taxi) make up 60% of all commutes, with public transit making up 27.6%.
    #pie_Commutes{:style => "height: 400px;"}

.row-fluid
  .span12.well
    %h3 Chicago Commute Modes 2005 - 2011
    %p 
      Breakdown of Chicago's workforce commutes by mode. Driving is still the dominant mode, though public transportation (CTA and Metra) have increased since 2005. Biking commutes have doubled from 0.7% in 2005 to 1.4% in 2011.
    %p
      %strong Tip:
      Click on the commute modes in the legend below to hide or show that column
    #chart_Commutes{:style => "height: 500px;"}