%h2 
  Consulting
  %small Tell a story with your data

%p
  I run an open data consulting company called DataMade. If you like any of the projects I have worked on and would like to bring them to your municipality or organization, send me an
  %a{:href => "mailto:derek.eder+de@gmail.com"} email
  or
  %a{:href => "http://twitter.com/derek_eder"} tweet
  at me.

%hr
%h3 Core offerings
%p Here’s what DataMade can do for your organization:

%ul 
  %li
    %p
      %strong Simplify and visualize complex data
      %br
      Not many people enjoy poring over spreadsheets and databases, but I do. Using a variety of tools and experience, I can help your organization distill a pile of data into a clear and concise visualization.
  %li
    %p
      %strong Tell a story
      %br
      The most powerful way to get your point across is to tell a story. Every successful app does this. I can help you find and refine your story, and use your data to help tell it.
  %li
    %p
      %strong Promote transparency
      %br
      When you open your data to the rest of the world, wonderful and unexpected things can happen. Developers like myself build useful tools around them, and everyone benefits. I can help guide you through the process of releasing your data and making it easily accessible for developers, all while keeping sensitive information secure.

%hr
%h3 DataMade’s philosophy: The Three Os
%p To engage DataMade, the project must subscribe to the Three Os. They are:

%ol
  %li
    %p 
      %strong 
        Open data
      %br
      The project uses data that is entirely open and free to use by anyone.
  %li
    %p
      %strong 
        Open source
      %br
      All apps and tools developed are open source and released under an unrestrictive license.
  %li
    %p
      %strong 
        Open government
      %br
      The project is civic-minded. It engages and informs citizens about their society, city, or government.

%hr
%p
  If you would like to engage DataMade, send me an 
  %a{:href => "mailto:derek.eder+de@gmail.com"} email
  or
  %a{:href => "http://twitter.com/derek_eder"} tweet
  at me.