%h2 
  DataMade
  %small Tell a story with your data

%p
  %strong DataMade
  is an 
  %a{:href => "http://en.wikipedia.org/wiki/Open_government"} open government
  and
  %a{:href => "http://en.wikipedia.org/wiki/Open_data"} open data
  web consulting company based in Chicago.
%p
  To engage DataMade in a project or for consulting, send an
  %a{:href => "mailto:derek.eder+de@gmail.com"} email
  or
  %a{:href => "http://twitter.com/derekeder"} tweet
  to Derek.

%hr
%h3#core-offerings Core offerings
%p Here’s what DataMade can do for your organization:

%ul 
  %li
    %p
      %strong Deploy civic apps to your municipality or organization
      %br
      If you like any of the projects Derek or
      %a{:href => 'http://opencityapps.org'} Open City 
      have worked on and would like to bring them to your municipality or organization, DataMade can do that for you. The applications can be modified or enhanced, but must remain open source (see 
      = succeed ')' do
        %a{:href => '#the-three-os'} The Three Os
  %li
    %p
      %strong Custom maps and visualizations
      %br
      Not many people enjoy poring over spreadsheets and databases, but we do. Using a variety of 
      %a{:href => '/searchable_map_template'} tools 
      and experience, DataMade can help your organization distill a pile of data into a clear and concise map or visualization. 
  %li
    %p
      %strong Clean up, de-duplicate and release your data
      %br
      When you open your data to the rest of the world, wonderful and unexpected things can happen. Developers build useful tools around them, and everyone benefits. DataMade can help guide you through the process of cleaning up, 
      %a{:href => 'https://github.com/open-city/dedupe/wiki'} de-duplicating 
      and releasing your data to make it easily accessible for developers, all while keeping sensitive information secure.
  %li
    %p
      %strong Learn to tell stories with open data
      %br
      We live in a time where an unprecedented amount of data is being gathered and published by governments, companies and organizations. DataMade can help you to understand, interpret and tell the stories behind all this open data. Journalists welcome!
      

%hr
%h3#the-three-os The Three Os
%p To work with DataMade, your project must subscribe to the Three Os. They are:

%ol
  %li
    %p 
      %strong Open data
      %br
      The project uses data that is entirely open and free to use by anyone.
  %li
    %p
      %strong Open source
      %br
      All apps and tools developed are open source and released under an unrestrictive license.
  %li
    %p
      %strong Open government
      %br
      The project is civic-minded. It engages and informs citizens about their society, city, or government.

%hr
%p
  If you would like to engage DataMade, send Derek an 
  %a{:href => "mailto:derek.eder+de@gmail.com"} email
  or
  = succeed '.' do
    %a{:href => "http://twitter.com/derekeder"} tweet