- @current_menu = "tools"
.row-fluid
  .span12
    %h2 Google Fusion Tables to HTML Table
    %h4 Present your data from Fusion Tables in a searchable, sortable table
    %p
      This tool reads in a
      %a{:href => "http://google.com/fusiontables/Home/"} Fusion Table
      and outputs it in to a searchable and sortable HTML table using jQuery
      = succeed "." do
        %a{:href => "http://datatables.net/"} Datatables
      Created as a companion to the
      = succeed "." do
        %a{:href => "/searchable_map_template/"} searchable map template

    %p
      %strong Note:
      On Jan 14th, 2013
      = succeed "." do
        %a{:href => "https://developers.google.com/fusiontables/docs/developers_guide"} Google deprecated the SQL API
      This script has been updated to use the
      = succeed "." do
        %a{:href => "https://developers.google.com/chart/interactive/docs/fusiontables"} Google Chart Tools API

    %hr

.row-fluid
  .span6
    %dl
      %dt
        %a.btn.btn-primary{:href => "https://github.com/derekeder/Fusion-Tables-to-HTML-Table"}
          Get it on github
          %i.icon-download-alt.icon-white
        %a.btn{:href => "https://github.com/derekeder/Fusion-Tables-to-HTML-Table/zipball/master"} 
          Zip
          %i.icon-download-alt
      %dd
        %p Make your raw Fusion Table data look pretty

      %dt
        %a.btn.btn-success{:href => "/maps/chicago-clinics/table/"}
          View the demo
          %i.icon-map-marker.icon-white
      %dd
        %p Working example of the above demo

      %dt
        %a.btn.btn-info{:href => "https://github.com/derekeder/Fusion-Tables-to-HTML-Table/blob/master/README"}
          Read the instructions
          %i.icon-info-sign
      %dd
        %p Involves doing some fun data mapping!

    %p
      Copyright © 2011 Derek Eder
      %br
      %a{:href => "https:/github.com/derekeder/Fusion-Tables-to-HTML-Table/wiki/License"} View license

  .span6
    %a{:href => "/maps/chicago-clinics/table/"}
      %img.img-polaroid{:alt => "Searchable map template demo", :src => "/images/screenshots/fusion-tables-html.jpg", :title => "Google Fusion Tables to HTML Table demo"}
      %h4 View the demo

.row-fluid
  .span12
    %hr
    %h3 Working examples
    %p A few people have used this for their own projects. I try to keep track of them here:
    %ul
      %li
        %a{:href => "http://archivo.ayto-arganda.es/10/tablas/ordenanzas.html"} City Council bylaws for Arganda, Spain
        \- Ayuntamiento de Arganda del Rey
      %li
        %a{:href => "http://seattletimes.nwsource.com/flatpages/specialreports/methadone/overdosedeathslinkedtomethadone.html"} Overdose deaths linked exclusively to methadone
        \- Justin Mayo, Seattle Times (
        %a{:href => "http://seattletimes.nwsource.com/html/localnews/2017067266_methadone22m.html"}> full article
        )