.content-grid.home

  .row
    .span8
      %p
        %strong Hi, I'm Derek Eder.
        I've been building websites in Chicago since 2005. During the day, I run <a href='http://datamade.us'>DataMade</a>, a civic technology company. We work on projects that make open data, make open source software, and make people more powerful. 
      %p
        Outside of that, I make civic apps with <a href='http://opencityapps.org'>Open City</a> and run the <a href='http://opengovhacknight.org'>Open Gov Hack Night</a>, Chicago's weekly event to build, share, and learn about civic tech. <a href='/about'>Read my full bio &raquo;</a>
  .row
    .span8
      %h2
        Tools
        %small
          Free and open source 
          |
          %a{:href => "/tools"} more &raquo;

    .span4
      %a{:href => "/searchable_map_template/"}
        %img.img-polaroid{:src => "/images/screenshots/searchable-template.jpg", :title => "Searchable Map Template with Google Fusion Tables"}
        %h4
          Searchable Map Template with Google Fusion Tables
      %p
        Put your data on a searchable, filterable map. This is a free, open source tool and template powered by Google Fusion Tables.

    .span4
      %a{:href => "/fusion-tables-to-html-table/"}
        %img.img-polaroid{:src => "/images/screenshots/fusion-tables-html.jpg", :title => "Google Fusion Tables to HTML Table"}
        %h4
          Google Fusion Tables to HTML Table
      %p
        Input a Google 
        %a{:href => "http://google.com/fusiontables/Home/"} Fusion Table 
        and output into a searchable and sortable HTML table using jQuery 
        = succeed "." do
          %a{:href => "http://datatables.net/"} Datatables
        Created as a companion to the searchable map template and written in PHP.

  .row
    .span8
      %hr
      %h2 
        Maps
        %small 
          Mapping open data
          |
          %a{:href => "/maps"} more &raquo;

    .span4
      %a{:href => "http://secondcityzoning.org"}
        %img.img-polaroid{:src => "/images/screenshots/second-city-zoning.jpg"}
        %h4
          2nd City Zoning
      %p
        To make Chicago’s zoning code digestible by humans, we took inspiration from one of our favorite games: 
        = succeed '.' do
          %a{:href => 'http://en.wikipedia.org/wiki/SimCity_2000'} Sim City 2000
        Find out how your building is zoned, learn where to locate your business and explore zoning patterns throughout the city. 

    .span4
      %a{:href => "http://cpstiers.opencityapps.org"}
        %img.img-polaroid{:src => "/images/screenshots/cps-tiers.jpg", :title => "Chicago Public School (CPS) Tiers"}
        %h4
          Chicago Public School (CPS) Tiers
      %p
        CPS places every part of the city into one of four socio-economic "tiers" and requires selective schools to reserve the same number of spots for the students from each tier. Find which CPS tier you are in with this tool.

  .row
    .span8
      %hr
      %h2
        Talks
        %small
          Public appearances and presentations
          |
          %a{:href => "/talks"} more &raquo;

    .span4
      %a{:href => "http://www.youtube.com/watch?v=ZR5JMxp-ejw"}
        %img.img-polaroid{:src => "/images/talks/large-lots.jpg", :title => "When Technology and Policy Work Together: Large Lots in Chicago"}
        %h4
          When Technology and Policy Work Together: Large Lots in Chicago 
      %p
        Demond Drummer and Derek Eder share the story of how community organizers, technologists, and the City of Chicago collaborated to roll out a new program to give local residents ownership of vacant land in their neighborhood and incentivize neighborhood-level investment.

    .span4
      %a{:href => "http://www.pechakucha.org/channels/table-xi/presentations/open-gov-in-chicago-changing-government-from-the-outside-in"}
        %img.img-polaroid{:src => "/images/talks/opengov-pecha-kucha.jpg", :title => "Open Gov in Chicago: Changing Government from the Outside In"}
        %h4
          Open Gov in Chicago: Changing Government from the Outside In
      %p
        What's the OpenGov thing all about anyway? In my first ever Pecha Kucha-style talk, I make an attempt to summarize 7 years of Open Government history in 6 minutes and 20 seconds.