.row-fluid
  .span12
    %h3
      Projects made with open data
    %p
      I like to work with, analyze, and build apps and tools using open data. As a result, I have created several open source projects using Google Fusion Tables to help do that. You can find the source code for all of them (and more) on my github page.

.row-fluid
  .span5
    %a{:href => "/searchable_map_template/"}
      %img.img-polaroid{:src => "/images/screenshots/searchable-template.jpg"}
      %h4
        Searchable Map Template with Google Fusion Tables
    %p
      You want to put your data on a  searchable, filterable map. This is a free, open source tool and template to help you do it. Powered by Google Fusion Tables.

  .span1
    &nbsp;
  .span5
    %a{:href => "http://chicagolobbyists.org"}
      %img.img-polaroid{:src => "/images/screenshots/chicago-lobbyists.jpg"}
      %h4
        Chicago Lobbyists
    %p
      An open data, open government, and open source project intended to improve the transparency of interactions between the City of Chicago and lobbyists and their clients.

    %hr
.row-fluid
  .span5
    %a{:href => "http://cpstiers.opencityapps.org"}
      %img.img-polaroid{:src => "/images/screenshots/cps-tiers.jpg"}
      %h4
        Chicago Public School Tiers
    %p
      In Chicago, a student's chance of getting into the city's top selective schools depends on where he or she lives. Chicago Public Schools (CPS) places every part of the city into one of four socio-economic "tiers" and requires selective schools to reserve the same number of spots for the students from each tier. This tool helps you find which CPS tier you are in.

  .span1
    &nbsp;
  .span5
    %a{:href => "http://LookAtCook.com"}
      %img.img-polaroid{:src => "/images/screenshots/look-at-cook.jpg"}
      %h4
        Look at Cook
    %p
      Budget transparency visualization for Cook County, IL displaying all county departments broken down by fund and
      control officer from 1993 to 2011. Done as a collaboration with 12th District Commissioner John Fritchey. Built with Fusion Tables and jQuery.