.content-grid.home
  .row
    .span8
      %h2
        Tools
        %small
          Free and open source 
          |
          %a{:href => "/tools"} more &raquo;

    .span4
      %a{:href => "/searchable_map_template/"}
        %img.img-polaroid{:src => "/images/screenshots/searchable-template.jpg", :title => "Searchable Map Template with Google Fusion Tables"}
        %h4
          Searchable Map Template with Google Fusion Tables
      %p
        Put your data on a searchable, filterable map. This is a free, open source tool and template powered by Google Fusion Tables.

    .span4
      %a{:href => "/fusion-tables-to-html-table/"}
        %img.img-polaroid{:src => "/images/screenshots/fusion-tables-html.jpg", :title => "Google Fusion Tables to HTML Table"}
        %h4
          Google Fusion Tables to HTML Table
      %p
        Input a Google 
        %a{:href => "http://google.com/fusiontables/Home/"} Fusion Table 
        and output into a searchable and sortable HTML table using jQuery 
        = succeed "." do
          %a{:href => "http://datatables.net/"} Datatables
        Created as a companion to the searchable map template and written in PHP.

  .row
    .span8
      %hr
      %h2 
        Maps
        %small 
          Mapping open data
          |
          %a{:href => "/maps"} more &raquo;

    .span4
      %a{:href => "http://secondcityzoning.org"}
        %img.img-polaroid{:src => "/images/screenshots/second-city-zoning.jpg"}
        %h4
          2nd City Zoning
      %p
        To make Chicago’s zoning code digestible by humans, we took inspiration from one of our favorite games: 
        = succeed '.' do
          %a{:href => 'http://en.wikipedia.org/wiki/SimCity_2000'} Sim City 2000
        Find out how your building is zoned, learn where to locate your business and explore zoning patterns throughout the city. 

    .span4
      %a{:href => "http://cpstiers.opencityapps.org"}
        %img.img-polaroid{:src => "/images/screenshots/cps-tiers.jpg", :title => "Chicago Public School (CPS) Tiers"}
        %h4
          Chicago Public School (CPS) Tiers
      %p
        CPS places every part of the city into one of four socio-economic "tiers" and requires selective schools to reserve the same number of spots for the students from each tier. Find which CPS tier you are in with this tool.

  .row
    .span8
      %hr
      %h2
        Websites
        %small
          Powered by open data
          |
          %a{:href => "/websites"} more &raquo;

    .span4
      %a{:href => "http://capsure.opencityapps.org"}
        %img.img-polaroid{:src => "/images/screenshots/capsure.jpg", :title => "CAPSure"}/
        %h4
          CAPSure
      %p
        CAPS meetings, are recurring events with the Chicago Police and residents that encourage community members and police to work together to reduce crime. CAPSure lets you find out when and where your next meeting is.

    .span4
      %a{:href => "http://chicagolobbyists.org"}
        %img.img-polaroid{:src => "/images/screenshots/chicago-lobbyists.jpg", :title => "Chicago Lobbyists"}
        %h4
          Chicago Lobbyists
      %p
        An open data, open government, and open source project intended to improve the transparency of interactions between the City of Chicago and lobbyists and their clients.

  .row
    .span8
      %hr
      %h2
        Other projects
        %small
          Fun with new tools!

    .span4
      %a{:href => "/chicago_commute_modes/"}
        %img.img-polaroid{:src => "/images/screenshots/chicago-commute-modes.jpg", :title => "How are people getting to work in Chicago?"}
        %h4
          How are people getting to work in Chicago?
      %p
        The Census Bureau collects data on how Chicagoans get to work via the American Community Survey. I created some charts to show commuting patterns for Chicago, from the S0801 table: Commuting characteristics by sex.