.content-grid
  .row
    .span8
      %h2 
        Talks
        %small Public appearances and presentations
      %p 
        I've given a few talks on the civic apps I've worked on and the tools I like to use (Fusion Tables and d3). 
        If you'd like to schedule me for an event, 
        %a{:href => "mailto:derek.eder+de@gmail.com"} email
        or
        %a{:href => "http://twitter.com/derek_eder"} tweet
        at me.
      
    .span4
      %a{:href => "http://www.youtube.com/watch?v=tuB3pDFYhRU#t=10m5s"}
        %img.img-polaroid{:src => "/images/talks/d3-presentation.jpg", :title => "D3 Presentation at Chicago August Data Potluck"}
        %h4
          D3 Presentation at Data Potluck
      %strong
        August 28, 2012 
        | 
        Christopher Whitaker
      %p
        A 20-minute talk on
        = succeed "," do
          %a{:href => "http://d3js.org"} d3
        a JavaScript library for manipulating documents based on data.
        %a{:href => "https://docs.google.com/document/d/1yaShWUQjQxrYL57PGQ9NuN81-dG-XEV97z8YqhhbgEs/edit"} Notes &raquo;

    .span4
      %a{:href => "http://pyvideo.org/video/973/big-data-de-duping"}
        %img.img-polaroid{:src => "/images/talks/dedupe-chipy.jpg", :title => "Big Data De-Duping"}
        %h4
          Big Data Deduping
      %strong
        June 14, 2012 
        | 
        ChiPy
      %p
        Joint presentation at 
        %a{:href => "http://chipy.org"} ChiPy 
        with 
        %a{:href => "http://www.bunkum.us"} Forest Gregg 
        on our
        %a{:href => "https://github.com/open-city/dedupe"} Dedupe
        project, an open source Python library for deduplicating tabular data, quickly, accurately, and on a large scale.

    .clearfix

    .span4
      %a{:href => "http://blog.cookcountygov.com/opencc/live-streaming-event-changing-the-code-government-data-and-digital-entrepreneurship/"}
        %img.img-polaroid{:src => "/images/talks/changing-the-code.jpg", :title => "Changing The Code: Government Data And Digital Entrepreneurship"}
        %h4
          Changing The Code: Government Data and Digital Entrepreneurship
      %strong
        April 25, 2012 
        | 
        Cook County
      %p
        A 60-minute webinar on how government data can offer new opportunities to digital entrepreneurs and startups.

    .span4
      %a{:href => "http://chicagotonight.wttw.com/2012/01/31/chicago-data-apps"}
        %img.img-polaroid{:src => "/images/talks/chicago-tonight.jpg", :title => "Chicago Data Apps Panel Discussion"}
        %h4
          Chicago Data Apps Panel Discussion
      %strong
        January 31, 2012 
        | 
        %em Chicago Tonight
      %p
        A panel discussion on open data and apps built with them. Hosted by Phil Ponce, featuring Chicago CTO John Tolva, Chad W. Pry and me.

    .clearfix

    .span4
      %a{:href => "http://vimeo.com/20541738"}
        %img.img-polaroid{:src => "/images/talks/refresh-chicago.jpg", :title => "Creating Searchable Maps with Google Fusion Tables"}
        %h4
          Creating Searchable Maps with Google Fusion Tables
      %strong
        March 1, 2011
        | 
        %em Refresh Chicago
      %p
        An introduction to Google
        %a{:href => "http://www.google.com/fusiontables"} Fusion Tables
        at the 
        %a{:href => "http://www.meetup.com/Refresh-Chicago/"} Refresh Chicago 
        Meetup.