.content-grid
  .row
    .span8
      %h2 
        Talks
        %small Public appearances and talks
      
    .span4
      %a{:href => "http://www.youtube.com/watch?v=tuB3pDFYhRU#t=10m5s"}
        %img.img-polaroid{:src => "/images/talks/d3-presentation.jpg", :title => "D3 Presentation at Chicago August Data Potluck"}
        %h4
          D3 Presentation at Chicago August Data Potluck
      %strong
        August 28, 2012 
        | 
        %em Christopher Whitaker
      %p
        A 20 minute talk on
        = succeed "," do
          %a{:href => "http://d3js.org"} d3
        a JavaScript library for manipulating documents based on data.
        %a{:href => "https://docs.google.com/document/d/1yaShWUQjQxrYL57PGQ9NuN81-dG-XEV97z8YqhhbgEs/edit"} Notes

    .span4
      %a{:href => "http://blog.cookcountygov.com/opencc/live-streaming-event-changing-the-code-government-data-and-digital-entrepreneurship/"}
        %img.img-polaroid{:src => "/images/talks/changing-the-code.jpg", :title => "Changing The Code: Government Data And Digital Entrepreneurship"}
        %h4
          Changing The Code: Government Data And Digital Entrepreneurship
      %strong
        April 25, 2012 
        | 
        %em Cook County
      %p
        A 60-minute webinar on how government data can offer new opportunities to digital entrepreneurs and startups.

    .clearfix

    .span4
      %a{:href => "http://chicagotonight.wttw.com/2012/01/31/chicago-data-apps"}
        %img.img-polaroid{:src => "/images/talks/chicago-tonight.jpg", :title => "Chicago Data Apps Panel Discussion"}
        %h4
          Chicago Data Apps Panel Discussion
      %strong
        January 31, 2012 
        | 
        %em Chicago Tonight
      %p
        Two innovative web developers and Chicago's Chief Technology Officer talk about new apps for Chicagoans with data from the city.

    .span4
      %a{:href => "http://vimeo.com/20541738"}
        %img.img-polaroid{:src => "/images/talks/refresh-chicago.jpg", :title => "Creating Searchable Maps with Google Fusion Tables"}
        %h4
          Creating Searchable Maps with Google Fusion Tables
      %strong
        March 1, 2011
        | 
        %em Refresh Chicago
      %p
        Two innovative web developers and Chicago's Chief Technology Officer talk about new apps for Chicagoans with data from the city.