.content-grid
  .row
    .span8
      %h2
        Tools
        %small
          Free and open source
      %p
        I like to work with, analyze, and build tools using 
        = succeed "." do
          %a{:href => "https://www.metrochicagodata.org/"} open data
        As a result, I have created several open source projects using Google
        %a{:href => "http://google.com/fusiontables/Home/"} Fusion Tables 
        which people help do that. You can find the source code for all of them (and more) on
        = succeed "." do
          %a{:href => "https://github.com/derekeder"} my github page

    .span4
      %a{:href => "/searchable_map_template/"}
        %img.img-polaroid{:src => "/images/screenshots/searchable-template.jpg", :title => "Searchable Map Template with Google Fusion Tables"}
        %h4
          Searchable Map Template with Google Fusion Tables
      %p
        Put your data on a searchable, filterable map. This is a free, open source tool and template powered by Google Fusion Tables.
        = succeed "." do
          %a{:href => "http://google.com/fusiontables/Home/"} Fusion Tables
        %br
        %strong Press:
        %em
          %a{:href => "http://googlemapsmania.blogspot.com/2012/05/open-source-fusion-tables-map-template.html"} Google Maps Mania

    .span4
      %a{:href => "/fusion-tables-to-html-table/"}
        %img.img-polaroid{:src => "/images/screenshots/fusion-tables-html.jpg", :title => "Google Fusion Tables to HTML Table"}
        %h4
          Google Fusion Tables to HTML Table
      %p
        Input a Google 
        %a{:href => "http://google.com/fusiontables/Home/"} Fusion Table 
        and output into a searchable and sortable HTML table using jQuery 
        = succeed "." do
          %a{:href => "http://datatables.net/"} Datatables
        Created as a companion to the searchable map template and written in PHP.
