.content-grid
  .row
    .span8
      %h2
        Projects
        %small
          Powered by open data
      %p
        Most of these are works of passion. The more recent ones are contributions to the ever-growing
        %a{:href => "http://data.cityofchicago.org/"} open
        %a{:href => "http://twitter.com/#!/search/opengov%20chicago"} government
        %a{:href => "http://opengovhacknight.org"} movement
        in Chicago.

    .span4
      %a{:href => "http://chicagocouncilmatic.org"}
        %img.img-polaroid{:src => "/images/screenshots/councilmatic.jpg", :title => "Chicago Councilmatic"}/
        %h4
          Chicago Councilmatic
      %p
        Are you curious about what legislation the <a href='http://www.cityofchicago.org/city/en/about/council.html'>Chicago City Council</a> has been passing? Search, browse, subscribe and comment on everything the City Council has done since Jan 1st 2010.

    .span4
      %a{:href => "http://capsure.opencityapps.org"}
        %img.img-polaroid{:src => "/images/screenshots/capsure.jpg", :title => "CAPSure"}/
        %h4
          CAPSure
      %p
        CAPS meetings, are recurring events with the Chicago Police and residents that encourage community members and police to work together to reduce crime. CAPSure lets you find out when and where your next meeting is.

    .clearfix

    .span4
      %a{:href => "http://howsbusinesschicago.org"}
        %img.img-polaroid{:src => "/images/screenshots/hows-business.jpg", :title => "Hows Business?"}/
        %h4
          How's Business?
      %p
        How’s Business provides a view of Chicago’s local economy. It uses open data to show how several economic indicators have been trending since 2005.

    .span4
      %a{:href => "/chicago_commute_modes/"}
        %img.img-polaroid{:src => "/images/screenshots/chicago-commute-modes.jpg", :title => "How are people getting to work in Chicago?"}
        %h4
          How are people getting to work in Chicago?
      %p
        The Census Bureau collects data on how Chicagoans get to work via the American Community Survey. I created some charts to show commuting patterns for Chicago, from the S0801 table: Commuting characteristics by sex.

    .clearfix

    .span4
      %a{:href => "http://crimeinchicago.org"}
        %img.img-polaroid{:src => "/images/screenshots/crime-in-chicago.jpg", :title => "Crime in Chicago"}/
        %h4
          Crime in Chicago
      %p
        Explore crime trends in Chicago's 50 wards using this data visualization by 
        = succeed "." do
          %a{:href => "http://opencityapps.org"} Open City
        Built using 
        %a{:href => "https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2"} open data about Chicago crimes 
        released by the
        = succeed "." do
          %a{:href => "http://www.cityofchicago.org/police"} Chicago Police Department
        %br
        %strong Press:
        %em
          %a{:href => "http://gov20.govfresh.com/open-city-launches-new-civic-app-to-map-crime-in-chicago/"} GovFresh
        |
        %em
          %a{:href => "http://projects.metafilter.com/3633/Crime-in-Chicago"} MetaFilter

    .span4
      %a{:href => "http://chicagolobbyists.org"}
        %img.img-polaroid{:src => "/images/screenshots/chicago-lobbyists.jpg", :title => "Chicago Lobbyists"}
        %h4
          Chicago Lobbyists
      %p
        An open data, open government, and open source project intended to improve the transparency of interactions between the City of Chicago and lobbyists and their clients.
        %br/
        %strong Press:
        %em
          %a{:href => "http://gov20.govfresh.com/can-the-internet-help-disrupt-the-power-of-chicago-lobbyists-through-transparency/"} Govfresh
        |
        %em
          %a{:href => "http://chicagoist.com/2011/12/07/new_web_project_simplifies_citys_op.php"} Chicagoist
        |
        %a{:href => "http://www.cityofchicago.org/city/en/depts/mayor/press_room/press_releases/2011/august_2011/mayor_emanuel_announcesnewlobbyistdatathatprovidesclearconnectio.html"} City press release
        |
        %em
          %a{:href => "http://projects.metafilter.com/3380/Chicago-Lobbyists"} MetaFilter

    .clearfix

    .span4
      %img.img-polaroid{:src => "/images/screenshots/share-my-share.jpg", :title => "Share my Share"}/
      %h4
        Share my Share
      %p
        Do you have a weekly veggie CSA and can't pick it up sometimes? Wouldn't it be nice if you could donate your box to charity? Well now you can. Share my Share allows residents of Logan Square to feed Chicago's hungry with their extra CSA boxes.
        %br
        %strong Press:
        %em
          %a{:href => "http://chicagoist.com/2012/07/25/new_website_allows_csa_buyers_to_do.php"} Chicagoist
    
    .span4
      %a{:href => "http://LookAtCook.com"}
        %img.img-polaroid{:src => "/images/screenshots/look-at-cook.jpg", :title => "Look at Cook"}
        %h4
          Look at Cook
      %p
        Budget transparency visualization for Cook County, IL displaying all county departments broken down by fund and
        control officer from 1993 to 2011. Done as a collaboration with 12th District Commissioner John Fritchey. Built with Fusion Tables and jQuery.
        %br/
        %strong Press:
        %em
          %a{:href => "http://radar.oreilly.com/2011/09/look-at-cook-gov-data-visualization.html"} O'Reilly Radar
        |
        %em
          %a{:href => "http://govfresh.com/2011/09/beautiful-budgets-look-at-cook/"} Govfresh
        |
        %em
          %a{:href => "http://projects.metafilter.com/3241/Look-at-Cook-A-Budget-Visualization-for-Cook-County-IL"} MetaFilter