body {
  padding-top: 30px;
}

#mapCanvas img {
  max-width: none;
}

a { color: #4B58A6; }
.well { background-color: #e8ebfb; }

.nav-list > .active > a,
.nav-list > .active > a:hover {
   background-color: #4B58A6; 
}

.nav {
  font-size: 18px;
}