body {
  padding-top: 30px;
  background-color: #efefef;
}

#mapCanvas img {
  max-width: none;
}

.content-primary {
  background-color: #ffffff;
  margin-top: -30px;
  padding-left: 50px;
}

.content-grid img {
  margin-top: 30px;
}

.grid-item {
  width: 40%; 
  margin-right: 10%;
  height: 380px;
  float: left;
}

.content-secondary {
  padding-bottom: 30px;
}

.pull-left {
  margin-right: 10px;
}

.nav-list > .active > a,
.nav-list > .active > a:hover {
   background-color: #4B58A6; 
}

.nav {
  font-size: 16px;
}