---
layout: default
title: Talks
description: I've give talks on my experiences starting a civic tech company, DataMade, building civic apps with Open City, and organizing the Chi Hack Night. If you'd like to book me for a speaking event, shoot me an email. 
---

<div class='row'>
  <div class='col-sm-12'>
    <h2>
      Talks
      <small>Public appearances and presentations</small>
    </h2>
    <br />
    <p>
      I've give talks on my experiences starting a civic tech company, <a href='http://datamade.us'>DataMade</a>, building civic apps with <a href='http://opencityapps.org'>Open City</a>, and organizing the <a href='http://chihacknight.org'>Chi Hack Night</a>. If you'd like to book me for a speaking event, <a href='mailto:derek@derekeder.com'>shoot me an email</a>.
    </p>
  </div>
</div>

<hr />

<p><strong>Filter by</strong></p>
<div class='row'>
  <div class='col-sm-6'>
    <p>
      Medium:
      <a href="/talks/index.html?medium=video"><span class="label label-success"><i class="fa fa-play"></i> Video</span></a>
      <a href="/talks/index.html?medium=audio"><span class="label label-warning"><i class="fa fa-headphones"></i> Audio</span></a>
      <a href="/talks/index.html?medium=writeup"><span class="label label-info"><i class="fa fa-file-text-o"></i> Writeup</span></a>
    </p>
  </div>
  <div class="col-sm-6">
    <p>
      Format:
      <span class="label label-default">Presentation</span>
      <span class="label label-default">Interview</span>
      <span class="label label-default">Panel</span>
    </p>
  </div>
</div>

<hr />

<div class='content-grid'>
  {% for post in site.categories['talk'] %}
    <div class='row'>
      <div class='col-sm-7'>
        <h4>
          <a href="{{post.link}}">{{post.title}}</a>
          <small>
            <br />{{ post.date | date: "%B %-d, %Y" }}
            <br />{{ post.location }}
          </small>
        </h4>
        <p>{{post.description | markdownify}}</p>
        <p>
          {% if post.medium == "video" %}
            <span class="label label-success"><i class="fa fa-play"></i> Video</span>
          {% elsif post.medium == "audio" %}
            <span class="label label-warning"><i class="fa fa-headphones"></i> Audio</span>
          {% elsif post.medium == "writeup" %}
            <span class="label label-info"><i class="fa fa-file-text-o"></i> Writeup</span>
          {% endif %}
          <span class="label label-default">{{ post.tags }}</span>
        </p>
      </div>
      <div class='col-sm-5'>
        <a href='{{post.link}}'>
          <img alt="{{post.title}}" class="img-thumbnail" src="{{post.image}}" />
        </a>
      </div>
    </div>
    <hr />
  {% endfor %}
</div>