<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <meta content='Derek Eder' name='author'>

    <title>
      {% if page.title %}
        {{page.title}} - {{site.name}}
      {% else %}
        {{site.name}} - Civic Tech Builder
      {% endif %}
    </title>
    <meta charset='utf-8' />
    <meta content='width=device-width, initial-scale=1.0' name='viewport' />
    {% if page.description %}
      <meta content="{{ page.description }}" name='description' />
    {% else %}
      <meta content="{{ site.description }}" name='description' />
    {% endif %}
    <meta content='{{ site.name }}' name='author' />

    <!-- Facebook metadata -->
    <meta content="{{ site.title }}" property="og:site_name">
    {% if page.title %}
      <meta content="{{ page.title }}" property="og:title">
    {% else %}
      <meta content="{{ site.title }}" property="og:title">
    {% endif %}
    {% if page.title %}
      <meta content="article" property="og:type">
    {% else %}
      <meta content="website" property="og:type">
    {% endif %}
    {% if page.description %}
      <meta content="{{ page.description }}" property="og:description">
    {% else %}
      <meta content="{{ site.description }}" property="og:description">
    {% endif %}
    {% if page.url %}
      <meta content="{{ site.url }}{{ page.url }}" property="og:url">
    {% endif %}
    {% if page.date %}
      <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
      <meta content="{{ site.url }}/about-us/" property="article:author">
    {% endif %}
    {% if page.image %}
      <meta content="{{ site.url }}{{ page.image }}" property="og:image">
    {% else %}
      <meta content="{{ site.url }}/images/derek.jpg" property="og:image">
    {% endif %}
    {% if page.categories %}
      {% for category in page.categories limit:1 %}
      <meta content="{{ category }}" property="article:section">
      {% endfor %}
    {% endif %}
    {% if page.tags %}
      {% for tag in page.tags %}
      <meta content="{{ tag }}" property="article:tag">
      {% endfor %}
    {% endif %}

    <!-- Twitter metadata -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@derekeder">
    <meta name="twitter:creator" content="@derekeder">
    {% if page.title %}
      <meta name="twitter:title" content="{{ page.title }}">
    {% else %}
      <meta name="twitter:title" content="{{ site.title }}">
    {% endif %}
    {% if page.url %}
      <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
    {% endif %}
    {% if page.description %}
      <meta name="twitter:description" content="{{ page.description }}">
    {% else %}
      <meta name="twitter:description" content="{{ site.description }}">
    {% endif %}
    {% if page.image %}
      <meta name="twitter:image" content="{{ site.url }}{{ page.image }}">
    {% else %}
      <meta name="twitter:image" content="{{ site.url }}/images/derek.jpg">
    {% endif %}

    <link href='/favicon.ico' rel='shortcut icon'>
    <!-- Styles -->
    <link rel="stylesheet" href="/css/bootstrap.spacelab.min.css"/>
    <link rel="stylesheet" href="/css/custom.css"/>
    <link rel="stylesheet" href="/css/code_highlighting.css"/>
    <script src="https://kit.fontawesome.com/c192c30bc7.js" crossorigin="anonymous"></script>

    
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script type="text/javascript" src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
  </head>
  <body>
    <div class='container'>
      <div class='row'>
        <div class='col-sm-3 content-secondary'>
          <h2>
            <a href='/'>Derek Eder</a>
          </h2>
          <h4>Civic Tech Builder</h4>
          <div class='hidden-xs'>
            <img alt='Derek Eder' class='pull-left img-thumbnail headshot' src='/images/derek.jpg' title='Derek Eder'>
            <p>
              I use data, build tools, and organize people in Chicago to democratize power. <a href='/about'>Read more &raquo;</a>
            </p>
            <hr />
            <div class='clearfix'></div>
            <p>
              <a href='https://datamade.us'><img alt='DataMade' class='pull-left logomark img-thumbnail' src='/images/datamade_mark.png' title='DataMade'></a>
              <strong>
                <a href='https://datamade.us'>DataMade</a><br />
                Founder and Partner
              </strong>
            </p><br />
            <p>
              <a href='https://www.oak-park.us'><img alt='Chi Hack Night' class='pull-left logomark img-thumbnail' src='/images/oak_park_logo.png' title='Village of Oak Park'></a>
              <strong>
                <a href='https://www.oak-park.us'>Village of Oak Park</a><br />
                Trustee
              </strong>
            </p><br />
            <p>
              <a href='https://chihacknight.org'><img alt='Chi Hack Night' class='pull-left logomark img-thumbnail' src='/images/chihacknight_mark.jpg' title='Chi Hack Night'></a>
              <strong>
                <a href='https://chihacknight.org'>Chi Hack Night</a><br />
                Co-Founder and President Emeritus
              </strong>
            </p>
            
            <hr />
            <p>
              Wanna talk?
              <a href='mailto:derek@derekeder.com'>Email me</a>.
            </p>
            <h2>
              <a href='https://github.com/derekeder'>
                <i class='fa fa-fw fa-github'></i>
              </a>
              <a rel="me" href='https://bsky.app/profile/derekeder.bsky.social'>
                <i class="fa-solid fa-b fa-fw"></i>
              </a>
              <a rel="me" href='https://mastodon.garden/@derekeder'>
                <i class="fa-brands fa-mastodon"></i>
              </a>
              <a href='https://www.linkedin.com/in/derekeder'>
                <i class='fa fa-fw fa-linkedin'></i>
              </a>
            </h2>
          </div>
          <div class='clearfix'></div>
        </div>
        <div class='col-sm-9'>
          <div class='well content-primary'>
            <ul class='nav nav-pills'>
              {% for link in site.navigation %}
                <li>
                  <a href="{{ link.url }}">{{ link.text }}</a>
                </li>
              {% endfor %}
            </ul>
            
            <hr />
              
            {{content}}

          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-sm-12'>
          <p class='pull-right'>
            <a href='https://twitter.com/derekeder'>@derekeder</a>
            •
            <a href='mailto:derek@derekeder.com'>derek@derekeder.com</a>
            •
            &copy; {{ site.time | date: '%Y' }} Derek Eder
          </p>
        </div>
      </div>
    </div>
  </body>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-FS9W1GGCEZ"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-FS9W1GGCEZ');
  </script>

</html>
