/*-------------------+
 | Site: HomeAid     |
 | Part: Date picker |
 +-------------------*/

/* Global */
.datePicker { font-size: 1.2em; position: absolute; text-align: center; width: 15em; z-index: 9999; }
.datePicker * { font-family: Verdana, Arial, sans-serif; }
.datePicker button:active, .datePicker button:focus, .date-picker-control:active, .date-picker-control:focus { outline: none; }

.datePicker button {
	background: transparent;
	border: 0;
	color: #fff;
	cursor: pointer;
	display: inline;
	height: 100%;
	line-height: 0.8em;
	margin: 0;
	text-align: center;
	width: 100%;
}

.datePicker table {
	background: #fff;
	border-collapse: collapse;
	border: 1px solid #d9d1e1;
	empty-cells: show;
	font-size: 0.8em;
	position: relative;
	text-align: center;
	white-space: nowrap;
	width: 100%;
}

.datePicker td { border: 1px solid #d9d1e1; text-align: center; }
.datePicker td { background: #fff; cursor: default; line-height: 1.2em; padding: 0.6em 0.5em 0.5em 0.5em; }
.datePicker th { border: 0; color: #fff; font-size: 0.9em; padding: 0; text-align: center; text-transform: uppercase; vertical-align: middle; }

/* Iframe hack to cover selectlists in Internet Explorer <= v6 */
.iehack { border: 0; padding: 0; position: absolute; background: #fff; z-index: 9998; display: none; }

/* Calendar icon */
.date-picker-control {
	background: transparent url(images/icon-cal.gif) no-repeat 0 0;
	border: 0;
	cursor: pointer;
	height: 16px;
	margin-left: 0.5em;
	vertical-align: top;
	width: 16px;
}

/* Month row */
.date-picker-month th { background: #cb6a8e; }
.date-picker-month button { font-weight: bold; padding: 0.2em 0; }

/* Weekday row */
.date-picker-weekday { background: #fffced; }
.date-picker-weekday button { font-size: 0.95em; }
.date-picker-weekday button, .date-picker-weekday th { color: #000; cursor: help; font-weight: normal; }
.date-picker-weekday th { border-bottom: 1px solid #d9d9d8; }
.date-picker-weekday th { padding: 0.2em 0; }
* html .date-picker-weekday button { padding-top: 0.4em; }
* + html .date-picker-weekday button { padding-top: 0.4em; }
	
/* The "todays date" style */
.datePicker table td.date-picker-today {  }

/* The "selected date" style */
.datePicker table td.date-picker-selected-date { color: #333 !important; border-color: #333 !important; }

/* the "highlight days" style */
td.date-picker-highlight {  }

/* The date "out of range" style */
.datePicker table td.out-of-range {
	background: transparent !important;
	color: #ccc !important;
	cursor: default !important;
	font-style: oblique;
}

/* The "disabled days" style */
.datePicker table td.day-disabled {
	background: transparent !important;
	color: #aaa !important;
	cursor: default !important;
}

/* The "active cursor" style */
.datePicker table td#date-picker-hover {
	background: #a91046;
	color: #fff;
	cursor: pointer;
}

/* Remove the images for Internet Explorer <= v6 using the "* html" hack */
* html .datePicker table td.date-picker-selected,
* html .datePicker table td.date-picker-hover,
* html .datePicker table td {
	background-image: none;
}